<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acceuil</title>
    
    <!---we had linked our css file----->
    <script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
    <script src="/public/script/is.js"  type="text/javascript">    </script>

  
</head>




<body>
  
 
  
  <div id="headerb" > 
          
    <%-include('page/header.ejs')%>
  
  </div> 

  

  <div id="global">

    <div id="headerc" > 
          
      <%-include('page/headerc.ejs')%>
  
    
    </div>
    
    <div class="page">
     <%-include('page/publication.ejs')%>  

      </div>
      <div class="page" style="display: none;">
        <%-include('page/vente.ejs')%> 

     
      </div>
      <div class="page" style="display: none;">
    <%-include('page/projet.ejs')%>  
  
      </div>
      <div class="page" style="display: none;">
        <%-include('page/programme.ejs')%> 

      </div>
 
    <div class="page" style="display: none;">
      <%-include('page/qui.ejs')%>
  
      </div>

      <div class="pagem" style="display: none;">
        <%-include('page/mycompte.ejs')%>
  
        </div>
  
        
  <div  class="ajouterpdiv" style="display: none;">
    <img class="ajouterpi"  src ="public/image/acceuil/plus.png"/>
    <label class="ajouterpl">Publication</label>
    
  </div>

        
     
        
  </div>
 

</body>

<style>
  html{
   
    margin: 0;
    
  }
 
  ::-moz-placeholder{
      color:black ;
      opacity: 0.7;
      
    }
    ::-webkit-input-placeholder{
      color:black ;
      opacity: 0.7;
    }
    :-ms-input-placeholder{
      color:black ;
      opacity: 0.7;
    }
    :-moz-placeholder{
      color:black ;
      opacity: 0.7;
     
    }

</style>

<script>



 
  // $('#headerb').html("<%-include('page/header.ejs')%>")
 //  if (window.matchMedia("(max-width: 700px)").matches) { // If media query matches
   
 //    alert('telephone')
 ////  } else {
  //   alert('machine') 
 // }
 
 </script>



<!--<script src="/public/script/script/curve.js"  type="text/javascript">    </script> -->

<script src="/public/script/script/scriptpublication.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptvente.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptacceuil.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptlogin.js"  type="text/javascript">    </script>
<script src="/public/script/script/scriptprojet.js"  type="text/javascript">    </script>
<script src="/public/script/script/scriptprogramme.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptycompte.js"  type="text/javascript">    </script>




<script src="/public/script/css/cssheader.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssheaderc.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssmycomp.js"  type="text/javascript">    </script>

<script src="/public/script/css/csspublication.js"  type="text/javascript">    </script>



  
<script src="/public/script/css/cssvente.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssprojet.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssprogrammation.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssqui.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssgeneral.js"  type="text/javascript">    </script>
<!--<script src="/public/script/css/response.js"  type="text/javascript">    </script>
<script src="/public/script/css/cssresponse.js"  type="text/javascript">    </script> -->


<style>
    
    html{
     
      margin: 0px;
      padding: 0px;
    }
    body{
     
     margin: 0px;
     padding: 0px;
   }
  
    </style>
</style>
</html>